
/* .panel{
   height: 40px;
   background-color: #0f1111f9;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   color: white;
   
}

.panels-deals p{
   font-size: 0.9rem;
   font-weight: 700;
   margin-left: 90px;
} */